parameters:
    level: 6
    excludePaths:
        - src/DependencyInjection
    paths:
        - src/
        - tests/

    ignoreErrors:
        -
            message: '#^Unable to resolve the template type T in call to method Doctrine\\ORM\\EntityManagerInterface::getRepository#'
            paths:
                - src
